<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TC___APP</title>

    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" />
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/ruang-admin.min.css" rel="stylesheet" type="text/css" />
    <link href="~/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" />

    @RenderSection("Styles", false)


</head>
<body id="page-top">

    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
                <ul class="navbar-nav ml-auto">
                    <div class="topbar-divider d-none d-sm-block"></div>
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <img class="img-profile rounded-circle" src="~/img/cat-jump.png" style="max-width: 60px">
                            <span class="ml-2 d-none d-lg-inline text-white small">FIAP</span>
                        </a>
                        @* <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Perfil
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="javascript:void(0);" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Sair
                            </a>
                        </div> *@
                    </li>
                </ul>
            </nav>
            <div class="container-fluid" id="container-wrapper">
                @RenderBody()
            </div>


        </div>

        <!-- Footer -->
        <footer class="sticky-footer bg-white" style="position:absolute;bottom:0px;width:100%">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>
                        copyright &copy; <script>document.write(new Date().getFullYear());</script>
                    </span>
                </div>
            </div>
        </footer>
    </div>


    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/js/ruang-admin.min.js"></script>
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
