name: TechChallenge-Fase2

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Baixar codigo fonte
      uses: actions/checkout@v4

    - name: Conectar no Docker Hub
      uses: docker/login-action@v3.3.0
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_TOKEN }}

    - name: Build and push Docker images
      uses: docker/build-push-action@v6.7.0
      with:
        context: .
        push: true
        tags: ${{ secrets.DOCKER_USERNAME }}/techchallenge:latest

              
